* {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open-Sans", "Arial", "sans-serif";
    background-image: url("http://sys2/img.jpg");
}


.form-control, .btn {
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.btn {
    background-color: #32CD32;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.col {
    margin-left: 50%;
}
