* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open-Sans", "Arial", "sans-serif";
    background-image: url("http://sys2/img.jpg");
}

.system {
    margin-top: 20px;
    display: block;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

li {
    display: inline;
    padding: 15px 30px 10px 80px;
    text-transform: uppercase;
}

.reg {
   padding-left: 20px
}






