html {
    background-image: url(aeroport.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
    }
    #navbar li:hover ul { display: block; }
    #navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    #navbar {
    height: 50px;
    background-color: rgb(255, 0, 0);
    padding-left: 25px;
    min-width: 470px;
    }
    #navbar li {
    float: left;
    position: relative;
    height: 100%;
    }
    #navbar li a {
    display: block;
    padding: 6px;
    width: 350px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    }
    #navbar ul li { float: none; }
    #navbar li:hover { background-color: #f90; }
    #navbar ul li:hover { background-color: #666; }

    body {
        padding: 0;
        margin: 0;
    }